<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="JM Menus" lan="LAN_JMMENUS_PLUGIN_NAME" version="1.2.0" date="2021-12-23" compatibility="2.4" installRequired="true" >
	<author name="Jimako" url="https://www.e107sk.com/" />
	<summary lan="LAN_JMMENUS_PLUGIN_SUMMARY">The simple Plugin for adding some functionality to core menus </summary>
	<description lan="LAN_JMMENUS_PLUGIN_DESCRIPTION">The simple Plugin for adding some functionality to core menus</description>
	<category>tools</category>
	<copyright>Jimako</copyright>
	<adminLinks>
		<link url="admin/admin_config.php" description="" icon="images/icon_64.png" iconSmall="images/icon_32.png" icon128="images/icon_128.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<keywords>
		<word>generic</word>
	</keywords>
</e107Plugin>